<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DEvents_API_TestSuite">
	<test name="DEvents_API_Tests">
		<classes>
			<class name="com.DEvents.tests.TestAPI_GetParticipants"></class>
			<class name="com.DEvents.tests.TestAPI_GetParticipants_demo"></class>
		</classes>
	</test>
</suite>